<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.one.dao.StudentMapper">
    <resultMap id="BaseResultMap" type="com.example.one.domain.Student">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="studentId" property="studentId" jdbcType="INTEGER"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="sex" property="sex" jdbcType="VARCHAR"></result>
        <result column="age" property="age" jdbcType="INTEGER"></result>
        <result column="classId" property="classId" jdbcType="INTEGER"></result>
        <result column="address" property="address" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <resultMap id="StudentInfoMap" type="com.example.one.domain.StudentInfo">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="studentId" property="studentId" jdbcType="INTEGER"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="sex" property="sex" jdbcType="VARCHAR"></result>
        <result column="age" property="age" jdbcType="INTEGER"></result>
        <result column="classId" property="classId" jdbcType="INTEGER"></result>
        <result column="address" property="address" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"></result>
        <result column="className" property="className" jdbcType="VARCHAR"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id,studentId,name,sex,age,classId,address,create_time,update_time
    </sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from Student
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.one.domain.Student">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">
               studentId,
            </if>
            <if test="name !=null">
                name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="classId != null">
                classId,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
            values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">
                #{studentId,jdbcType=INTEGER},
            </if>
            <if test="name !=null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="classId != null">
                #{classId,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from student where id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.example.one.domain.Student">
       update student
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="age != null" >
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="classId != null" >
                classId = #{classId,jdbcType=INTEGER},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
           where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectStudentInfo" resultMap="StudentInfoMap">
        select s.id,s.studentId,name,sex,age,classId,address,create_time,update_time,className
        from student as s join class as c on s.classId = c.id;
    </select>

</mapper>